.hero-container {
  margin-top: 3rem;
  height: 31rem;
  width: 100%;
  padding: 0 25px 0 25px;
}
.health {
  font-size: 72px;
  font-family: LL Circular, sans-serif;
  -webkit-font-smoothing: antialiased;

  margin-left: -197px;
  font-weight: 600;
}
.future {
  font-size: 72px;
  font-family: LL Circular, sans-serif;
  margin-top: 34px;
  margin-left: 54px;
  -webkit-font-smoothing: antialiased;

  font-weight: 600;
  margin-bottom: -22px;
}
.clear {
  font-size: 72px;
  font-family: Dutch801, serif;
  margin-left: 54px;
  font-style: italic;
  -webkit-font-smoothing: antialiased;

  font-weight: 300;
  margin-top: -32px;
}
